
 <nav class="navbar navbar-default" style="margin-top:0px">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/home">Página Inicial</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#/arrematados">Arrematados <span class="sr-only">(current)</span></a></li>
        <li><a href="#/proxitens">Próximos itens</a></li>
        <li><a href="#/comofunciona">Como Funciona?</a></li>
        
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control lg" placeholder="Busca" ng-model="query">
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Mais Informações <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#/contato">Contato</a></li>
            <li class="divider"></li>
            <li><a href="#/configurações">Configurações</a></li>
            <li><a href="#/cadastrar&objeto">Cadastrar Objeto</a></li>
            <li><a href="deletarCliente">Deletar Conta</a></li>
            <li><a href="logout">Sair</a>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col-sm-3 centered">
        <img src="../public/img/icon.png" width="200" height="200" />
      </div>
      <div class="col-sm-9 centered"  ng-controller="myCtrl">
        <br><br>
        <h1>{{nomeLeilao}}</h1>
        <p>{{descricaoLeilao}}</p>
      </div>
    </div>
  </div>
</div><br><br>

<div class="container" ng-controller="myCtrl">
	<div class="row clearfix">
		<div class="col-md-3 column">
		
		</div>
		<div class="col-md-6 column">
		<h3>Atualizar Dados</h3>
			  <div class="well">
				<form role="form" method="POST" action="atualizarSocio">
					<div class="form-group">
						<input ng-hide="true" type="text" class="form-control" id="id" name="id" value="{{socio.id}}"/>
					</div>
					<div class="form-group">
						 <label>Nome Completo</label><input type="text" class="form-control" id="nome" name="nome" value="{{socio.nome}}"/>
					</div>
					<div class="form-group">
						 <label>CNPJ</label><input type="text" class="form-control" id="cnpj" name="cnpj" value="{{socio.cnpj}}"/>
					</div>
					<div class="form-group">
						 <label>Razão Social</label><input type="text" class="form-control" id="razaoSocial" name="razaoSocial" value="{{socio.razaoSocial}}"/>
					</div>
					<div class="form-group">
						 <label>Endereço</label><input type="text" class="form-control" id="endereco" name="endereco" value="{{socio.endereco}}"/>
					</div>
					<div class="form-group">
						 <label>Cidade</label><input type="text" class="form-control" id="cidade" name="cidade" value="{{socio.cidade}}"/>
					</div>
					<div class="form-group">
						 <label>CEP</label><input type="text" class="form-control" id="cep" name="cep" value="{{socio.cep}}"/>
					</div>
					<div class="form-group">
						 <label>Cidade</label><input type="text" class="form-control" id="cidade" name="cidade" value="{{socio.cidade}}"/>
					</div>
					<div class="form-group">
						 <label>Telefone</label><input type="text" class="form-control" id="telefone" name="telefone" value="{{socio.telefone}}"/>
					</div>
					<div class="form-group">
						 <label>Email</label><input type="email" class="form-control" id="email" name="email" value="{{socio.email}}"/>
					</div>
					<div class="form-group">
						 <label>Senha</label><input type="password" class="form-control" id="senha" name="senha"/>
					</div>
					<div class="form-group">
						 <label>Confirmar Senha</label><input type="password" class="form-control"/>
					</div>
					<button type="submit" class="btn btn-default" style="color:black">Atualizar</button>
				</form>
			</div>
		<div class="col-md-3 column">
		</div>
	</div>
</div>
<br>

 <footer>
  <body>
    <div class="wrapper">
      <div class="container">
        <div class="row">
          <div class="col-sm-8">
            <header class="hero-unit">
              <p>Formas Pagamento</p>
              <div class="row">
                <img src="../public/img/formaspagamento_v3.png">
              </div>
            </header>
          </div>
          <div class="col-sm-4">
            <header class="hero-unit">
              <p>Certificados</p>
              <div class="row">
                <img src="../public/img/certificados.png">
              </div>
            </header>
          </div>
        </div>
      </div>
      <div class="push">
        <!--//-->
      </div>
    </div>
</footer>
<div ng-include="'../public/css/design.css'"></div>