<!doctype html>
<html lang="en" ng-app="phonecatApp" ng-controller="myCtrl" >
<head>
  <meta charset="utf-8">
  <title>Leilão Online</title>
  <link rel="stylesheet" href="../public/bower_components/bootstrap/dist/css/bootstrap.css">
  
  <script src="../public/bower_components/jquery/dist/jquery.js"></script>
  <script src="../public/bootstrap/js/bootstrap.min.js"></script>
  <script src="../public/bower_components/angular/angular.js"></script>
  <script src="../public/bower_components/angular-animate/angular-animate.js"></script>
  <script src="../public/bower_components/angular-route/angular-route.js"></script>
  <script src="../public/bower_components/angular-resource/angular-resource.js"></script>
  
  <script src="../public/js/appAdmin.js"></script>
  <script src="../public/js/controllers.js"></script>
  <script src="../public/js/filters.js"></script>
</head>
<body class="fundo">

<div ng-view>

</div>

</body>
</html>